# Build results
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code settings
.vscode/

# Visual Studio settings
*.vspscc
*.vssscc
.vs/

# NuGet packages
*.nupkg
packages/
*.snupkg

# Dotnet CLI
project.lock.json
project.fragment.lock.json
artifacts/

# Logs
*.log

# Temporary files
*.tmp
*.temp
*.bak
*.swp

# Others
*.dbmdl
*.pdb
*.cache
*.ide